<div id="control-panel-box">
  <h1 class="box-title"><%= t('site.account') %></h1>
  <div class="box-content">
    <ul>
      <li><%= link_to t('my_account.info'), account_info_path %></li>
      <li><%= link_to t('my_account.order'), "" %></li>
      <li><%= link_to t('my_account.address_book'), "" %></li>
      <li><%= link_to t('my_account.design_idea'), "" %></li>
      <li><%= link_to t('my_account.design_evaluate'), "" %></li>
      <li><%= link_to t('my_account.design_favourite'), "" %></li>
      <li><%= link_to t('my_account.notification'), "" %></li>
      <li><%= link_to t('my_account.gift_cert'), "" %></li>
    </ul>
  </div>
</div>
