<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div class="box">
  <h1 class="box-title">Loai Ao</h1>
  <div class="box-content">
    <ul>
      <li><%= link_to "Ao co tron", "" %></li>
      <li><%= link_to "Ao co polo", "" %></li>
      <li><%= link_to "Ao tay dai", "" %></li>
      <li><%= link_to "Ao co tui", "" %></li>
      <li><%= link_to "Ao ba lo", "" %></li>
      <li><%= link_to "Ao van phong", "" %></li>
      <li><%= link_to "Ao the thao", "" %>
        <ul>
          <li><%= link_to "Ao da banh", "" %></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
