<h2 class="title">Listing admins</h2>

<table class="grid">
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Role</th>
    <th></th>
  </tr>

<% @admins.each do |admin| %>
  <tr class="<%= cycle :odd, :even %>">
    <td><%= admin.username %></td>
    <td><%= admin.email %></td>
    <td><%= admin.role.name %></td>
    <td>
      <%= link_to 'Edit', edit_admin_admin_path(admin) %> |
      <%= link_to 'Destroy', admin_admin_path(admin), :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Admin', new_admin_admin_path, :class => 'button biground green' %>
